/** 
For base template layout, nav & footer
**/
body {
    margin:0;
    padding:0;
}
nav {
    background-color:rgb(48, 48, 252);
}
ul li {
    width:18%;
    margin:0 auto;
}

ul li a {
    color:whitesmoke;
}

footer {
    background-color:rgb(48, 48, 252);
    color:white;
    position:relative;
    margin-top:auto;
    height:10rem;
    width:100vw; 
    padding-top:10px;
}

footer div {
    margin-left:5vw;
    display:inline-block;
}

footer a{
    text-decoration-line:underline;
    color:white;
    font-size:12px;
}

/**
General css styles
**/

hr {
    width:60%;
    color: rgba(37, 36, 36, 0.863);
}

.header {
    text-decoration:underline;
    font-weight:600;
    text-align:center;
}

/** 
Index/home page
**/

.hero_text, .location_details, .owner {
    text-align:left;
    padding: 15px 10px;
    font-size:.9rem;
    
}

#location_map {
    display:flex;
    justify-content: center;
}

/**
end of Index/home Page 
**/

/**
Start of details page 
**/

.picture {
    width:50%;
}

#images {
    display:flex;
    justify-content: center;
}

#left, #right {
    font-size:26px;
    margin:0 25px;
    color:rgb(48, 48, 252);
}

.callout {
    width:80%;
    margin:15px;
    font-size:14px;
}

/** 
End of details page
**/
/**
Start of Availability Checker
**/

.avail_check {
    width:90%;
    border-radius:16px;
}

/** Booking page **/

.booking_form { 
    width:80%;
    margin: 0 auto;
}

.attendance { 
    width:30%;
    display:inline-block;
}

form #submit {
    background-color:rgb(48, 48, 252);
    color:whitesmoke;
    width: 45%;
}