/** 
For base template layout, nav & footer
**/
body {
    margin:0;
    padding:0;
}

/* W3 Schools guide - creating dropdown menu */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:rgb(48, 48, 252);
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color:blue;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* End of W3 guide */
.nav button {
    height:100%;
}
.dropdown-content a{
    color:rgb(48, 48, 252);
}

.dropi {
    color:blue;
}

#user_drop {
    right:0;
}

.nav .dropdown {
    height:100%;
}

footer {
    background-color:rgb(48, 48, 252);
    color:white;
    height:10rem;
    width:100vw; 
    padding-top:10px;
}

footer div {
    margin-left:5vw;
    display:inline-block;
}

footer a{
    text-decoration-line:underline;
    color:white;
    font-size:12px;
}

#page-container { 
    position:relative;
    min-height:100vh;
}

#content-container{
    padding-bottom:10rem;
}

nav i {
    color:white;
    font-size:16px;
    text-align:center;
}

/**
General css styles
**/

hr {
    width:60%;
    color: rgba(37, 36, 36, 0.863);
}

.header {
    text-decoration:underline;
    font-weight:600;
    text-align:center;
}

.warning { 
    color:red;
    margin:0 auto;
}

.success {
    color:blue;
    margin:0 auto;
}

/** 
Index/home page
**/

.hero_text, .location_details, .owner {
    text-align:left;
    padding: 15px 10px;
    font-size:.9rem;
    
}

#location_map {
    display:flex;
    justify-content: center;
}

/**
end of Index/home Page 
**/

/**
Start of details page 
**/

#caravan_details{
    margin: 0 20px;
}

.picture img{
    display:none;
    max-height:250px
}

#images {
    width:65%;
    display:inline-block;
    height:250px;

}

#left, #right {
    font-size:26px;
    color:rgb(48, 48, 252);
    display:inline-block;
    width:15%
}
.callout {
    width:80%;
    margin:15px;
    font-size:14px;
}

.picture-div {
    width:100%;
    height:250px;
    justify-content: center;
    display: flex;
    align-content: stretch;
    align-items: center;
}

/** 
End of details page
**/
/**
Start of Availability Checker
**/

.avail_check {
    width:90%;
    border-radius:16px;
}

.step-links { 
    width:100%;
}
.step-links a, .step-links span {
    display:inline-block;
}

.avail_check_half_one{
    width:50%;
    display:inline-block;
}
.avail_check_half_two {
    width:30%;
    float:right;
    display:flex;
    justify-content:center;
    font-size:x-large;
    
}

#edit_booking div {
    width:30%;
    display:inline-block;
    text-align:center;
    height:40px;
}

/** Booking page **/

.booking_form { 
    width:80%;
    margin: 0 auto;
}

.attendance { 
    width:30%;
    display:inline-block;
}

form #submit {
    background-color:rgb(48, 48, 252);
    color:whitesmoke;
    width: 45%;
}

/** 
Start of my_visits site 
**/

.visit_display {
    border: solid 2px black;
    text-align:center;
}

.visit_display > p {
    line-height:2px;
}

.feedback {
    background-color:rgba(164, 237, 247, 0.61);
    border:1px solid black;
    width:60%;
    margin:0 auto;
    text-align:left;
    padding-left:5%
}

.editors {
    width:80%;
    display:flex;
    justify-content: space-evenly;
    margin:0 auto;

}


