{% extends 'base.html' %}

{% block content %}

<div>
    {% for week in booking_list %}

        {% if week.if_available == True %}
            <div class="avail_check callout success">
                <h2>Week {{ week.week_booking }}</h2>
                <h3>of year {{ week.year_booking }}</h3>
                <p>Charge for this week is £{{ week.charge }}</p>
            </div>
        {% elif week.if_available == False %}
        <div class="avail_check callout alert">
            <h2>Week {{ week.week_booking }}</h2>
            <h3>of year {{ week.year_booking }}</h3>
            <p>Sorry, this week is not available.</p>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="pagination grid-x grid-padding-x align-center-middle text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
