{% extends 'base.html' %}

{% block content %}
{% load static %}
<div>
    {% if user.is_staff %}
    <hr>
    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li href="#">
            <p class="text-center">Admin section only - Add new year</p>
            <ul class="menu vertical nested">
                <form action="{% url 'check_avail'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="booking_form">
                        <div class="input-group">
                            <label for="new_year" class="input-group-label">
                                Year:
                            </label>
                            <input type="number" name="new_year" id="new_year" min="2020" max="2100" pattern="[0-9]{4}"/>
                        </div>
                        <div class="boooking_form text-center">
                            <div class="input-group align-center">
                                <input type="submit" value="Create"/>
                            </div>
                        </div>
                    </div>
                </form>
            </ul>
        </li>
    </ul>
    <hr>
    {% endif %}
    {% if messages == messages.success %}
    <div class="messages">
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    </div>
    {% endif %}
    {% for week in booking_list %}

        {% if week.if_available == True %}
            <div class="avail_check callout success">
                <div class="avail_check_half_one">
                <h2>Week <span id="available_week">{{ week.week_booking }}</span></h2>
                <h3>of year <span id="available_year">{{ week.year_booking }}</span></h3>
                <p>Charge for this week is £{{ week.charge }}</p>
            </div>
            <div class="avail_check_half_two">
                <a href="{% url 'make_booking' %}">
                    <h3> Book </h3>
                    <i class="fa-solid fa-book"></i>
                </a>
            </div>
            </div>
        {% else %}
        <div class="avail_check callout alert">
            <h2>Week {{ week.week_booking }}</h2>
            <h3>of year {{ week.year_booking }}</h3>
            {% if user.is_staff %}
            <p>Booked by: {{week.booker}}</p>

            <p class="right">
                 
            </p>
            {% elif week.booker == user.username %}
            <p>testing</p>
            <div>
                <p>View info <i class="fa-solid fa-circle-info"></i></p>
                <p>Update <i class="fa-solid fa-pen"></i></p>
                <p>Un-book <i class="fa-solid fa-square-minus"></i></p>
            </div>
            {% else %}
            <p>Sorry, this week is not available.</p>
            {{ user.username}}
            {{ week.booker }}
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="pagination grid-x grid-padding-x align-center-middle text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="availability?page=1">&laquo; first</a>
            <a href="availability?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    <span class="step-links">
        {% if page_obj.has_next %}
            <a href="availability?page={{ page_obj.next_page_number }}">next</a>
            <a href="availability?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

</div>

{% endblock %}
