
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base  href="/">
        <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" defer="True" crossorigin="anonymous">
        <script src="{% static '/assets/javascript/base.js' %}" defer="True"></script>
        <title>Caravan Rental | Ben Kennedy</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
    <div id="page-container">
        <div id="content-container">
            <nav>
                <div class="navbar icons icon-top">
                    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i><br>Home</a></a>
                    <a href="{% url 'details' %}"><i class="fa-solid fa-circle-info"></i><br>Details</a>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-calendar"></i><br>
                            Bookings
                            <i class="fa fa-caret-down"></i>
                        </button>
                            <div class="dropdown-content">
                            <a href="{% url 'check_avail' %}"><i class="fa-solid fa-calendar-check dropi"></i>  Availability</a>
                            <a href="{% url 'make_booking' %}"><i class="fa-solid fa-calendar-plus dropi"></i>  Booking</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-user"></i><br>
                            {{ user.username }}
                          <i class="fa fa-caret-down"></i>
                        </button>
                          <div id="user_drop"class="dropdown-content">
                            <a href="{% url 'my_visits' %}">My Bookings</a>
                            <a href="{% url 'account_logout' %}"></i>Sign Out</a>
                          </div>
                      </div>
                    {% else %}
                    <a href="{% url 'account_login' %}"><i class="fa-solid fa-user"></i>Log-in</a>
                    {% endif %}
            </nav>
            {% block content %}
            {%endblock%}
        </div>
        <footer>
            <div class="other_sites">
                <h4>Also hosted on:</h4>
                <a href="https://www.airbnb.co.uk/rooms/724593970566123396?check_out=2023-04-23&children=1&adults=2&check_in=2023-04-21&s=13&unique_share_id=1C6B345E-5664-4BFC-978B-D44F176DF9F1&_branch_match_id=1143999629027938480&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXT0zKS9LLTdV3NXZNSi1McnUrTwIASr96TxsAAAA%3D&source_impression_id=p3_1673988994_LFGiA3pz8ETWP8Ky&modal=PHOTO_TOUR_SCROLLABLE"
                target ="_blank"> airbnb</a><br>
                <a href="https://www.directholidayhomes.co.uk/isle-of-wight/whitecliff_bay/9261" target="_blank"> DirectHolidayHomes</a>
            </div>
        </footer>
    </div>
</body>
<!-- Compressed JavaScript -->
<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1511a86868.js" crossorigin="anonymous"></script>
<script>
    $(document).foundation();
</script>
</html>