{% extends 'base.html' %}

{% block content %}
{% load static %}
<div>
    <h2 class="header">Requesting a booking:</h2>
</div>

{% if user.is_authenticated %}
<form action="{% url 'make_booking' %}" method="POST" enctype="multipart/form-data" >
    {% csrf_token%}
    <div class="booking_form">
        <div class="input-group">
            <label for="email_address" class="input-group-label">E-mail address</label>
            <input type="text" id="email" name="email_address" value="{{ user.email_address }}" class="input-group-field">
        </div>

        <div class="input-group">
            <label for="week_selection" class="input-group-label"> Week Selected</label>
            <div>
                <input type="week" id="week_selection" name="week_selection" class="input-group-field week">
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
        <div class="attendees">
            <p class="header">Maximum 6 people</p>
            <div class="input-group attendance">
                <label for="adults" id="adults" name="adults" class="input-group-label">Adults:</label>
                <input type="number" name="adults" id="adults" class="input-group-field" pattern="[0-6]" placeholder="1">
            </div>

            <div class="input-group attendance">
                <label for="under18" id="under18" name="under_18" class="input-group-label">Under 18:</label>
                <input type="number" name="under_18" id="under_18" class="input-group-field" pattern="[0-6]">
            </div>
            <div class="input-group attendance">
                <label for="pets" id="pets" name="pets" class="input-group-label">Pets:</label>
                <input type="number" name="pets" id="pets" class="input-group-field" pattern="[0-6]">
            </div>
        </div>
        <div class="input-group">
            <label for="contact_number" id="contact_number" name="contact_number" class="input-group-label">Contact Number:</label>
            <input type="tel" name="contact_number" id="contact_number" pattern="[0-9]{11}"value="{{ profile.contact_number }}" class="input-group-field">
        </div>

        <h3>Message for the host:</h3>
        
        <textarea id="message" name="message" rows="4" cols="20">
        </textarea>

        <input type="submit" name="submit" id="submit" value="Submit Request">
    </div>  

</form>
{% else %}
<div>
    <h3>Please log in</h3>
    <p> To leave make a booking, please <a href="{% url 'account_login' %}" aria-label="link to login page">log in</p></a>
    <p>If you do not have an account, you can <a href="{% url 'account_signup' %}" aria-label="sign up for an account">Sign up here</a></p>
</div>
{% endif %}

{% endblock %}