{% extends 'base.html' %}

{% block content %}

<div>
    <h3 class="header">Edit your post:</h3>
    <form method="POST">
        {% csrf_token%}
    <div>
        <textarea id="comment" name="comment"></textarea>
    </div>
    <div>
        <h5>Overall rating:</h5>
    <input type="radio" id="happy" name="overall_feeling" value="happy">
    <label for="happy">Happy</label>
    <input type="radio" id="indifferent" name="overall_feeling" value="indifferent">
    <label for="indifferent">Indifferent</label>
    <input type="radio" id="unhappy" name="overall_feeling" value="unhappy">
    <label for="unhappy">Unhappy</label>
    </div>
    <div>
    <input type="submit" value="Update">
    </form>
</div>

{% endblock%}