{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="header">My Stays</h1>

<div class="container">
    {% for visit in visits%}

        <div class="text-center">
        <h3><strong>Week: {{ visit.week_booking }} of {{ visit.year_booking }}</strong></h3>  
        <p>Week charge £{{ visit.charge }} </p>
            <div id="public_comment">
                {% if visit.booking_reference not in o_comment.booking_reference_id  %}

                    <p>
                        You have not left a comment yet. <br>
                        <a href="{% url 'new_public_comment' visit.booking_reference %}">Click here to add one!.</a>
                    </p>

                {% else %}

                    {% for comment in o_comment%}

                        {% if comment.booking_reference_id|lower == visit.booking_reference|lower %}
                        <p> <strong>you posted:</strong></p>
                        <p class="feedback">{{ comment.comment }}</p>
                        <div class="editors">
                        <p><button><a href="{% url 'edit_public' comment.booking_reference_id comment.o_comment_id %}"><i class="fa-solid fa-pencil"></i> edit</a></button></p>

                        
                        <p><button data-open="exampleModal1"><span href="{% url '#' comment.booking_reference comment.o_comment_id}"><i class="fa-solid fa-trash"></i> delete </span></button></p>
                        </div>
                        <div class="reveal" id="exampleModal1" data-reveal>
                            <h1></h1>
                            <p class="lead">Are you sure you wish to delete?
                            <button><a href="{% url 'delete_public_comment' comment.o_comment_id %}"><i class="fa-solid fa-trash"></i> delete </a></button>
                            </p>
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        
                        {% endif %}

                    
                    {% endfor %}
                {% endif %}    
                <hr>
        </div>
                <div>
                    <h6 class="header">My notes: (personal)</h6>
                    {% for comment in p_comment %}
                        {% if comment.booking_reference_id|lower == visit.booking_reference|lower %}
                        <div class="personal_comment">    
                        <p>
                            {{comment.personal_comment}}
                        </p>

                        </div>
                        {% endif %}
                    {% empty %}
                    <p>
                        You have not left a comment yet. <br>
                        <a href="{% url 'new_personal_comment' visit.booking_reference %}">Click here to add one!.</a>
                    </div>
                    {% endfor %}
                    <hr>
                    <p><a href="{% url 'new_personal_comment' visit.booking_reference %}">Add a new comment here</p></a>
                    </div>
            </div>
        <div>
    {% endfor %}
</div>
<div class="pagination grid-x grid-padding-x align-center-middle text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="my_visits?page=1">&laquo; first</a>
        <a href="my_visits?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    
    <span class="step-links">
        {% if page_obj.has_next %}
        <a href="my_visits?page={{ page_obj.next_page_number }}">next</a>
        <a href="my_visits?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    
</div>

{% endblock %}