{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="header">My Stays</h1>
<div class="container">
    {% for visit in visits %}
        <div class="visit_display">
            <h3><strong>Week: {{ visit.week_booking }} of {{ visit.year_booking }}</strong></h3>  
            <p>Week charge £{{ visit.charge }} </p>
            <p>{{visit.booking_reference}}</p>
            <p>{{o_comment.booking_reference}}</p>
            <div>
                <div>
                    <h6 class="header">Public Comment</h6>
                    {% if visit.booking_reference in o_comment %}
                        {{ o_comment.overall_comment }}
                    {% else %}
                    <p>
                        You have not left a comment yet. <br>
                        <a href="{% url 'new_public_comment' visit.booking_reference %}">Click here to add one!.</a>
                    </p>
                    {% endif %}
                </div>
                <hr>
                <div>
                    <h6 class="header">My notes:</h6>
                </div>
            </div>
        <div>
    {% endfor %}
</div>
<div class="pagination grid-x grid-padding-x align-center-middle text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="my_visits?page=1">&laquo; first</a>
        <a href="my_visits?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    
    <span class="step-links">
        {% if page_obj.has_next %}
        <a href="my_visits?page={{ page_obj.next_page_number }}">next</a>
        <a href="my_visits?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    
</div>
    

{% endblock %}