{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h1 class="header">Updating booking</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group attendance">
                <label for="adults" id="adults" name="adults" class="input-group-label">Adults:</label>
                <input type="number" name="adults" id="adults" class="input-group-field" value="{{ booking.number_of_o18 }}" placeholder="1">
            </div>
            <div class="input-group attendance">
                <label for="under18" id="under18" name="under_18" class="input-group-label">Under 18:</label>
                <input type="number" name="under_18" id="under_18" value="{{ booking.number_of_u18 }}" class="input-group-field">
            </div>
            <div class="input-group attendance">
                <label for="pets" id="pets" name="pets" class="input-group-label">Pets:</label>
                <input type="number" name="pets" value="{{ booking.number_of_pets}}"id="pets" class="input-group-field">
            </div>
    
            <div class="input-group">
                <label for="contact_number" id="contact_number" name="contact_number" class="input-group-label">Contact Number:</label>
                <input type="tel" name="contact_number" id="contact_number" pattern="[0-9]{11}"value="{{ booking.provided_number }}" class="input-group-field">
            </div>
    
            <h3>Message for the host:</h3>
            
            <textarea id="message" name="message" rows="4" cols="20">{{ booking.additional_comment}}
            </textarea>
            

            <div>
            </div>
            <input type="submit" name="submit" id="submit" value="Submit Request">
        </div>  
        </form>
    </div>

</div>

{% endblock %}